@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Poppins:wght@700&family=Tapestry&family=Ubuntu:wght@500&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

html, body{
    display: grid;
    place-items: center;
    background: grey;
}

.container{
    height: 80vh;
    width: 360px;
    background: white;
    height: 50%;
    border-radius: 5px 5px;
    margin: 170px auto;
    box-shadow: 0 5px 16px rgba(0,0,0,0.3);
}

.container .title1{
    background: darkcyan;
    text-align: center;
    margin-bottom: 10px;
}

.container .title{
    line-height: 80px;
    /* border-radius: 7px 7px 7px 7px; */
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.container form{
    padding: 30px 20px 25px 20px;
}

.container form .input-field{
    height: 43px;
    margin-top: 5px;
    position: relative;
}

.container form .input-field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 7px;
    border: 1px solid black;
}

.container form .input-field i{
    position: absolute;
    width: 45px;
    height: 100%;
    color: white;
    font-size: 18px;
    background: darkcyan;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 0 0 5px;
}

.login1{
    background-color: white;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    display: flex;
    border-radius: 5px;
    cursor: pointer;
}

.input-field .login a{
    color: darkcyan;
    font-size: 1.2rem;
}

.forget{
    cursor: pointer;
}

.f1{
    margin-bottom: 25px;
}


@media screen and (max-width: 730px) {
    *{
        margin: 5px;
    }
}







